    <section id="page-breadcrumb">
		<div class="vertical-center sun">
			 <div class="container">
				<div class="row">
					<div class="action">
						<div class="col-sm-12 wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
							<h1 class="title">Portfolio</h1>
							<p>Be Creative</p>
						</div>
					</div>
				</div>
			</div>
		</div>
   </section>
	<!--/#action-->

<section id="portfolio">
	<div class="container">
		<div class="row ">
			<ul class=" portfolio-filter text-center">
				<li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".branded">Branded</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".design">Design</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".folio">Folio</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".logos">Logos</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".mobile">Mobile</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".mockup">Mockup</a></li>
			</ul><!--/#portfolio-filter-->


			<div class="portfolio-items">
			<% @products.each do |product| %>
			<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded logos">
				<div class="portfolio-wrapper">
					<div class="portfolio-single">
						<div class="portfolio-thumb">
						<%if product.pussy.attached?%>
							<%= image_tag product.pussy, alt: 'avatar', class:"img-responsive" %>
						<%else%>
							<p>=== Il n'y a pas encore de chatte lié à ce produit ===</p>
						<%end%>
						</div>
						<div class="portfolio-view">
							<ul class="nav nav-pills">
								<li><%= link_to "show", product_path(product.id) %></li>
								<li><a href="<%= product.pussy%>" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
								<li><a href="<%= product.pussy%>"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="portfolio-info ">
						<h2>produit : <%=product.id%></h2>
					</div>
				</div>
			</div>
			<%end%>
			<div class= "container col-sm-12 wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms"">
			<div class="portfolio-pagination">
				<ul class="pagination">
					<li><a href="#">left</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">right</a></li>
				</ul>
			</div>
			</div>
			</div>
		</div>
	</div>
</section>
