<section id="portfolio-information" class="padding-top" style="padding-top: 80px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="padding-left: 75px">
                <%= image_tag @product.picture, alt: 'pussy', class:"img-responsive", alt: "" %>
            </div>
            <div class="col-sm-6">
                <div class="project-name overflow">
                    <h2 class="bold"><%= @product.name %></h2>
                    <ul class="nav navbar-nav navbar-default">
                        <li><a href="#"><i class="fa fa-clock-o"></i><%= @product.created_at %></a></li>
                    </ul>
                </div>
                <div class="project-info overflow">
                    <h3>DESCRIPTION DU PRODUIT</h3>
                    <p><%= @product.description %></p>

                </div>

                <div class="client overflow">
                    <h3>Price :  <span style="color: #C03035"> <%= @product.price %> <i class="fa fa-euro"></i></span></h3>
                    <ul class="nav navbar-nav navbar-default">
                        <li><a href="#" style="font-size: 16px;"> </a></li>
                    </ul>
                </div>
                <div class="live-preview">
                    <a href="#" class="btn btn-common" style="margin-top: 37px">  <i class="fa fa-shopping-cart"></i>      Add To Card </a>
                </div>
            </div>
        </div>
    </div>
</section>