


<%= form_tag product_pictures_path(@new_product), multipart: true do %>
  <%= file_field_tag :picture %>
  <%= submit_tag "mettre à jour" %>
<% end %>




<h1>Page d'ajout d'une image a la database</h1>

<p>cette image aura l'id : <%=@new_product.id%></p>
<h3>nom de ce/cette produit/image</h3>
<p> picture<%=@new_product.id%> </p>



<%= form_tag multipart: true do %>

  <%= text_field_tag(:description) %>

  <%= file_field_tag :picture %>
  <%= submit_tag "mettre à jour" %>
<% end %>